
body {
    background-color: rgb(162, 253, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#albums {
    background-color: grey;
    float: left;
    align-content: inherit;
}

.input-field label {
    color: #000;
  }

