
/* navbar text */
#nav a {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

body {
  /* background-image: url('images/backgroundswirl.jpeg'); */
  background-color: rgb(253, 253, 253)c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#collection hr {
    color: black;
    border-top: black;
    padding: 50px;
    margin: auto;

}
/* titles */
h2, h6, h3 {
    text-align: left;
    color: rgb(253, 253, 253);
}
/* preview container  */
.image-preview {
  width: 300px;
  min-height: 100px;
  margin-top: 15px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: transparent;
}
/* preview image */
.image-preview__image {
    display: none;
    max-width: 100%;

}

/* image display after submit */
#topLayer {
  z-index: 2;
  position: absolute; left:0; top: 0; 
 
  max-width: 300px;
  max-height: 300px;
  opacity: 1;
}

#topLayer:hover {
  opacity: 0.1;

}
/* lower region divs  */
#albums div {
    background-color: #7986cb;
    border-style: solid 3px black;
    float: left;
    padding: 30px;
    margin: 30px;
    display: block;
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    z-index: 1;
}
 
input#submit  {
    color: #d9e6ff;
    align-self: center;
}
#inpFile {
  color: #d9e6ff;
  
}
.materialize-textarea [type=text] {
    color: #d9e6ff;
}
.input-field [type=text] {
    color: #d9e6ff;
}

 /* label color */
 .input-field label {
    color: #d9e6ff;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #d9e6ff;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #d9e6ff;
    box-shadow: 0 1px 0 0 #d9e6ff;
  }
   /* valid color */
   .input-field input[type=text].valid {
    border-bottom: 1px solid #d9e6ff;
    box-shadow: 0 1px 0 0 #d9e6ff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #d9e6ff;
    box-shadow: 0 1px 0 0 #d9e6ff;
  }
