
body {
    background-color: rgb(162, 253, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#albums div {
    background-color: rgb(121, 121, 255);
    float: left;
    padding: 20px;
}

.input-field label {
    color: #000;
  }

